// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  #topBanner{
    background-image: url('../imgs/curso/banner_top2400.jpg');
  }
  #bottomBanner{
    background-image: url('../imgs/curso/fondoBottomBanner2000.jpg');
  }

  .sliderCurso{
    margin-top: 7%;
    .cursoImg{
      width: 90%!important;
      margin: 0 auto;
    }
    .brandButton{
      width: 40px !important;
      top: 8px;
    }
  }

  #detallesCurso{
    .infoDetalle{
      .expositor{
        .imgExpositor{
          img{
            width: 20%;
          }
        }
      }
    }
  }
}
