// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm){
  header{
    #smallMenuIcon{
      width: 10%;
      height: 100%;
      position: static;
      div{
        width: 55%;
        margin-top: 50px;
        .bar{
          width: 100%;
          margin: 7px 0;
        }
      }
    }
    #logo{
      width: 30%;
      img{
        width: 100%;
      }
    }
    #text{
      display: block;
      width: 60%;
      font-size: 0.5rem;
      text-align: center;
      #head, #contact{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #head{
        margin-top: 5px;
        p{
          margin-bottom: 5%;
        }
      }
    }
  }

  #services{
    .servicesBody{
      padding: 5%;
      .col-sm-8{
        margin: 0 auto;
      }
    }
  }

  #autocad{
    height: 500px;
    padding: 0;
    .container-fluid, .row{
      height: 100%;
    }
    .blueBox{
      width: 100%;
      padding: 7%;
      position: relative;
      top: 10%;
      left: 4%;
      margin: 0;
      img{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    #computer{
      margin: 0;
      padding-top: 285px;
      img{
        width: 400px;
        position: absolute;
        right: 0;
      }
    }
  }
}
