.topBannerStyle{
  padding: 7% 0;
  img{
    margin: 0 auto;
  }
  img:nth-child(2){
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  h1{
    color: white;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 5%;
  }
}

.bottomBannerStyle{
  padding: 15%;
  color: $blue;
  img{
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 7%;
  }
}

.infoCurso{
  img{
    width: 100%;
  }
  .curso{
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .tituloCurso{
    padding: 3% 2%;
    background-color: $blueBackground;
    h2{
      color: #f1f1f1;
      font-size: 1rem;
      text-align: center;
    }
  }
  .contenidoCurso{
    padding: 7% 0;
  }
  .buttonSection{
    .row{
      .col-6{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    h3,img{
      float: left;
    }
    img{
      width: 50px;
    }
  }
  h3{
    font-size: 0.9rem;
    text-align: center;
  }
  .imgCurso{
    width: 100%;
  }
}

@import 'cursos/small';
@import 'cursos/medium';
@import 'cursos/large';
@import 'cursos/xLarge';
