//Import main
@import "main";

#hero1{
  background-image: url('../imgs/index/banner1_800.jpg');
  img{
    width: 60%;
    position: relative;
    top: 40%;
    left: 40%;
  }
}

#hero2{
  background-image: url('../imgs/index/banner2_800.jpg');
}

#heroMore{
  padding: 9px;
  background-color: $orange;
  position: absolute;
  left: 45%;
  top: 70%;
  color: $blue;
}

.hero{
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroButton{
  width: 50px;
  position: absolute;
  top: 35%;
  z-index: 100;
  cursor: pointer;
}

#nextHero{
  right: 1%;
}

#prevHero{
  left: 1%;
}

#services{
  .servicesTitle{
    background-color: $yellow;
    h2{
      color: $blue;
    }
  }
  .servicesBody{
    background-image: url('../imgs/index/fondo1_800.jpg');
    padding-bottom: 10%;
    .blackBox{
      display: flex;
      flex-direction: column;
      padding: 10% 5%;
      background-color: rgba(0, 0, 0, 0.6);
      margin-top: 6%;
    }
    h3, h4{
      color: $yellow;
      text-align: center;
    }
    img{
      width: 80px;
      margin: 0 auto;
      margin-top: 10%;
      margin-bottom: 10%;
    }
    p, li{
      text-align: center;
      color: white;
    }
    li{
      text-align: left;
    }
  }
}

#business{
  .businessBody{
    p{
      margin: 7% 0;
    }
    strong{
      font-family: 'eurostileLTDemi';
    }
    #imgBusiness{
      img{
        width: 90%;
        margin: 0 auto;
        margin-top: 7%;
        margin-bottom: 7%;
      }
    }
  }
}

#worker{
  background-image: url('../imgs/index/trabajador800.jpg');
  background-size: cover;
  padding: 15%;
  img{
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 7%;
  }
}

#autocad{
  background-image: url('../imgs/index/fondo3_800.jpg');
  background-size: contain;
  overflow: hidden;
  padding-top: 10%;
  padding-bottom: 10px;
  .blueBox{
    background-color: $blueBackground;
    color: white;
    width: 95%;
    font-size: 0.7rem;
    padding: 3%;
    margin: 0 auto;
    order: 1;
    img{
      width: 60%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  #computer{
    order: 2;
    margin-top: 10%;
    img{
      width: 100%;
    }
  }
}

#brands{
  .brandsTitle{
    background-color: $blueBackground;
    color: white;
  }
  .brandsBody{
    padding: 7% 0;
    img{
      width: 50%;
    }
  }
}

.brandImg{
  margin: 0 auto;
}

.brandButton{
  width: 30px !important;
  position: absolute;
  top: 20px;
  z-index: 100;
  cursor: pointer;
}

#nextBrand{
  right: 1%;
}

#prevBrand{
  left: 1%;
}

@import "index/small";
@import "index/medium";
@import "index/large";
@import "index/xLarge";
