//Colors
$yellow: #fbdd00;
$orange: #fec32b;
$blue: #2a4f79;
$blueBackground: #0d2b69;
$gray: #c9cbca;
$whiteTitle: #f1f1f1;

//bootstrap imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";

//Import swiper
@import "~swiper/src/swiper";

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

@font-face {
  font-family: "eurostileLTMedium";
  src: url("../fonts/Eurostile LT Medium.ttf");
}

@font-face {
  font-family: "eurostileLTBold";
  src: url("../fonts/Eurostile LT Bold.ttf");
}

@font-face {
  font-family: "eurostileLTDemi";
  src: url("../fonts/Eurostile LT Demi.ttf");
}

body{
  min-width: 360px;
  font-family: 'eurostileLTMedium', sans-serif;
}

h1, h2{
  font-family: 'eurostileLTBold', sans-serif;
}

h2{
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 2%;
}

h3{
  font-family: 'eurostileLTDemi', sans-serif;
}

img{
  display: block;
}

.contact{
  width: 100%;
  padding: 0 20px;
  font-size: 0.5rem;
  overflow: hidden;
  justify-content: space-between;
  div{
    overflow: hidden;
    img, p{
      float: left;
    }
  }
  .icon{
    width: 20px;
    margin: 0 10px;
  }
}

header{
  background-color: $yellow;
  #smallMenuIcon{
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    overflow: hidden;
    div{
      width: 50%;
      min-width: 30px;
      .bar{
        width: 100%;
        height: 3px;
        background-color: $blue;
        margin: 7px 0;
      }
    }
  }
  #logo{
    width: 100%;
    img{
      width: 50%;
      margin: 0 auto;
    }
  }
  #text{
    display: none;
  }
}

nav{
  display: none;
}

#smallMenu{
  background-color: $blueBackground;
  position: fixed;
  top: 0;
  color: white;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: max-width .1s;
  z-index: 101;
  ul{
    display: flex;
    flex-direction: column;
    margin: 20% 0;
    padding: 0;
    li{
      list-style: none;
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }
    a{
      color: white;
    }
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.orangeButton{
  padding: 9px;
  background-color: $orange;
  color: $blue;
}

footer{
  background-color: $blueBackground;
  padding: 7% 0;
  img{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10%;
  }
}

#footerContact{
  color: white;
  font-size: 0.6rem;
}

#footerMenu{
  color: $yellow;
  display: none;
}

@import "main/small";
@import "main/medium";
@import "main/large";
@import "main/xLarge";
