//Import main
@import "main";
@import "cursos";

#topBanner{
  background-image: url('../imgs/resumen/banner_top800.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#bottomBanner{
  background-image: url('../imgs/resumen/trabajador800.jpg');
  background-size: cover;
}

@import 'resumen/small';
@import 'resumen/medium';
@import 'resumen/large';
@import 'resumen/xLarge';
